@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* html, *, *:before, *:after {
  min-height: 100%;
  box-sizing: border-box;

} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  height: 100vh;
  margin: 0;

  font-family: 'Space Grotesk';
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
background: linear-gradient(180deg,#350062 0%, #1b0953 80%);
background: -webkit-linear-gradient(180deg,#350062 0%, #1b0953 80%);
background: -moz-linear-gradient(180deg,#350062 0%, #1b0953 80%);
}
